.skills {
  background-image: linear-gradient(to right bottom, #051937, #203e61, #3d688c, #5b95b9, #7cc4e5);
  scroll-margin-top: 15rem;
}

.skills .skills__content {
  padding: 6rem 4rem;
  text-align: center;
}

.skills .skills__content .description {
  max-width: 56rem;
  margin: 0 auto 6rem;
  color: #ffffff;
}

.skills .skills__content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.skills .skills__content ul li .image-container {
  background-color: rgba(255, 255, 255, 0);
  padding: 2rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.skills .skills__content ul li {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}
.caixa{
  color: #ffffff;
}
.skills .skills__content h3{
  color: #ffffff;
}